{
    "branches": [
        "main",
        {
            "name": "beta/**",
            "prerelease": "beta"
        },
        {
            "name": "alpha/**",
            "prerelease": "alpha"
        }
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "conventionalcommits",
                "presetConfig": {
                    "types": [
                        {
                            "type": "feat",
                            "section": "Features"
                        },
                        {
                            "type": "fix",
                            "section": "Bug Fixes"
                        },
                        {
                            "type": "perf",
                            "section": "Performance Improvements"
                        },
                        {
                            "type": "revert",
                            "section": "Reverts"
                        },
                        {
                            "type": "docs",
                            "section": "Documentation"
                        },
                        {
                            "type": "style",
                            "section": "Styles"
                        },
                        {
                            "type": "chore",
                            "section": "Miscellaneous Chores"
                        },
                        {
                            "type": "refactor",
                            "section": "Code Refactoring"
                        },
                        {
                            "type": "test",
                            "section": "Tests"
                        },
                        {
                            "type": "build",
                            "section": "Build System"
                        },
                        {
                            "type": "ci",
                            "section": "Continuous Integration"
                        },
                        {
                            "type": "improvement",
                            "section": "Improvement"
                        }
                    ]
                }
            }
        ],
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        "@semantic-release/github",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "chmod +x ./release.sh && ./release.sh '${nextRelease.version}'"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md",
                    "src/Querier/Querier.csproj",
                    "src/Querier.SqlQuery/Querier.SqlQuery.csproj"
                ],
                "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ]
    ]
}